
.titulo {
   background-color: #ca4e5b;
   border: 1px solid #999;
   padding: 8px;
}

.coluna{
       background-color: #ca4e5b;
   border: 1px solid #999;
   padding: 8px;
}

.corum{
    background-color: #ffb8bf;
   border: 1px solid #999;
   padding: 8px;
}
.cordois{
    background-color: #f7d2d6;
   border: 1px solid #999;
   padding: 8px;
}